
.color-azul-claro{
	color: #0093C6;
}
#myVideo {
 position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -20;
}
.color-grisclaro{
	color: #CBCDD0;
}
#home-fs{	
    width: 80%;
    border: none;
    /*border: 3px solid green;*/
    padding: 0px;		
  }
.inline-block{	
	display: inline-block;
	margin-right: -4px;
}
.color-gris{
	color: #919394;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    /*
    background: linear-gradient(
      25deg,
      rgba(66, 230, 149, 1),
      rgba(66, 32, 149, 1)
    );    
    */
    /*background-image: url(http://localhost/5ge/marketing_publicidad/fondo.png);*/
    background-image: url( https://fondosmil.com/fondo/504.jpg);
    background-position: center;     
    background-repeat: no-repeat;
    background-size: 200%;        
}
main{    
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background: none;        
}
.contenerdor-todo{      
    position: relative;        
}
.contenerdor-todo ,nav{
    background-color: #031326;	    	
    padding: 6px 4px;	
    font-size: 0.7em;    
    
}
.contenerdor-todo nav ,ul{
    margin: auto;
    text-align: center;    
}

.container-steps{ 
    margin: auto;  
    max-width: 1000px;
    width: 100%;    
    background-color: rgba(255, 255, 255, .8);
    border-radius: 14px;
    padding-bottom: 8px;
    margin-top: 50px;  
}
.container-gallery{       
    max-width: 1000px;
    width: 100%;
    background-color: rgba(255, 255, 255, .9);
    padding: 20px;
    margin: auto; 
    text-align: center;   
    border-radius: 14px;
    box-shadow: 0px 0px 40px -5px;        

}

.gallery{           
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.container-steps div ,h1{         
    margin: auto;        
    margin-bottom: 30px; 
    font-size: 1.5em;
}

figure{       
    width: 300px;
    height: 192px;
    position: relative;    
    margin: 10px;
    overflow: hidden;

}
figure video{    
    margin-top: -50px;
    width: 100%;   
    height: 300px;    
    position: relative;    
}
figure:hover h1{
    cursor: pointer;
    opacity: 1;
    z-index: 22;
}

figure img{
    width: 100%;
}

figure h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0,0,0,0.6);
    padding: 200px;
    opacity: 0;
    transition: all 600ms cubic-bezier(1,0,0,1);
    cursor: default;
}

.btn-previus{   
    margin-top: 40px;
    padding: 14px 40px;
    display: block;
    z-index: 40;
    width: 60px;
    height: 60px;    
    margin: auto;  
    border-radius: 50%;
    font-size: 40px;
    padding: 10px;
    background: white; 
    color: white;
    color: #575757;    
    box-shadow: 0px 0px 40px -5px;        
    transition: all 600ms cubic-bezier(1,0,0,1);
    cursor: pointer;    
}
.btn-previus:hover{
     transform: rotate(90deg);
}

/* Informacion boton play videos*/

#myVideo {
    position: fixed;
     right: 0;
     bottom: 0;
     min-width: 100%; 
     min-height: 100%;
     z-index: -20;
   }
   
.content-informacion{  
    bottom: 0;
    display: block; 
    margin: auto; 
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
#myBtn {    
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;    
    color: #fff;
    cursor: pointer;
    border-radius: 10px;    
  }
  #myBtn :hover{
    cursor: pointer;    
    z-index: 30;

  }

  /*barra nav inferior*/
.nav-inferior{                       
    margin-top: 20px;    
    padding: 1px 1px;
}
.nav-inferior ul ,li{   
    margin: auto;        
    font-size: 1.1em;    
    align-items: center;    	    
}
.img-tam-marca{   	 
    width: 80%;    
    position: relative;    
    /*border: 3px solid green;*/
    padding: 1px;
  }  

/* resolucion para android */
@media screen and (max-width: 700px){
    
    .container-gallery{
        margin-top: 0px;            
    }   
    
    .container-steps div ,h1{                             
        margin-bottom: 30px;      
        font-size: 1.1em;        
    }   

    figure{       
    width: 90px;
    height: 56px;
    position: relative;    
    margin: 5px;
    overflow: hidden;
    }
    figure img{        
        width: 100%;        
    }

    figure h1{         
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.6em;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0,0,0,0.6);
    padding: 40px;
    opacity: 0;
    transition: all 600ms cubic-bezier(1,0,0,1);
    cursor: default;

}

  
}







